extends layout

block content
  div(class='p-5 mb-4 bg-light border rounded-3')
    h1 Admin Flow
    p(class='lead mb-4') This page represents the admin flow.
    a(class='btn btn-outline-secondary', href='/') Back to home
