extends layout

block content
  div(class='p-5 mb-4 bg-dark text-white rounded-3')
    h1 Microsoft Graph Notifications Sample
    p(class='fs-4') Choose one of the options below to create a subscription
    div(class='d-flex gap-2 flex-wrap mt-3')
      a(class='btn btn-primary', href='/user-flow') User flow
      a(class='btn btn-success', href='/admin-flow') Admin flow
      a(class='btn btn-warning', href='/subscribe') Subscribe Test
